*
!app
!cmd
!testutil
!utils
!internal
!x
!internal
  !types
!go.mod
!go.sum
!Makefile
!docs/docs.go
!docs/static
!integration_tests/node_helper.sh
!integration_tests/upgrade/test-upgrade.patch
!deployment/ansible/roles/bootstrap/files/cosmovisor_start.sh
!deployment/ansible/roles/bootstrap/files/cosmovisor_preupgrade.sh
