[Unit]
Description=DC Ledger client service
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1
User=ubuntu
ExecStart=/usr/bin/dclcli rest-server

[Install]
WantedBy=multi-user.target
