[Unit]
Description=DC Ledger service
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1
User=ubuntu
ExecStart=/var/lib/ubuntu/dcld_manager.sh

[Install]
WantedBy=multi-user.target
