[Unit]
Description=DC Ledger service
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1
User=ubuntu
Environment="DAEMON_HOME=/var/lib/ubuntu/.dcl" "DAEMON_NAME=dcld"
ExecStart=/usr/bin/cosmovisor start

[Install]
WantedBy=multi-user.target
