---
# Copyright 2020 DSR Corporation
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#      http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

templates:
  add-model: &add-model-tmpl
    vid: 1
    pid: 1
    deviceTypeID: 1
    productName: Device
    productLabel: decription
    partNumber: SKU12FS
#    hardware-version: 1.0
#    firmware-version: 2.0
#    tis-or-trp-testing-completed: "true"

defaults:
  account-number-start: 4
  sequence-number-start: 0
#   from
#   sequence
#   (optional) account-number
#   txns: - common txns

{%- if ctx is not defined %}
  {%- set ctx = {} %}
{%- endif %}

{%- set write_users_c = ctx.get("write_users_count", 10) | int  + 1 %}
{%- set write_users_q_c = ctx.get("write_users_q_count", 1000) | int + 1 %}

users:
  {%- for vid in range(1, write_users_c) -%}

  {% set vid_str = "%05d"|format(vid) %}
  tu{{ vid_str }}:
    q:
    {%- for pid in range(1, write_users_q_c) %}
      - tx/model/add-model:
          <<: *add-model-tmpl
          vid: {{ vid }}
          pid: {{ pid }}
    {%- endfor %}

  {%- endfor %}
