<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 pt-3 border-bottom">
  <h1 class="h2">Compliance Infos</h1>
  <div class="btn-toolbar mb-2 mb-md-0">
    <button class="btn btn-sm btn-outline-secondary mr-1" [routerLink]="['certify']">Certify Model</button>
    <button class="btn btn-sm btn-outline-secondary" [routerLink]="['revoke']">Revoke Model</button>
  </div>
</div>

<ng-container *ngIf="items$ | async as items; else loadingBlock">
  <table class="table table-striped">
    <thead class="thead-dark">
    <tr>
      <th>VID</th>
      <th>PID</th>
      <th>State</th>
      <th>Date</th>
      <th></th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let header of items" [routerLink]="[header.vid, header.pid]" [queryParams]="{'prev_height':'true'}" class="cursor-pointer">
      <td>{{header.vid}}</td>
      <td>{{header.pid}}</td>
      <td>{{header.state}}</td>
      <td>{{header.date | date:'medium'}}</td>
      <td *ngIf="header.isCertified()" [routerLink]="[header.vid, header.pid, 'revoke']" class="btn-link">Revoke</td>
      <td *ngIf="!header.isCertified()" [routerLink]="[header.vid, header.pid, 'certify']" class="btn-link">Certify</td>
    </tr>
    </tbody>
  </table>
</ng-container>

<ng-template #loadingBlock>
  <div>Loading certified models...</div>
</ng-template>
