[Unit]
Description=ZB Ledger client service
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1
User=ubuntu
ExecStart=/usr/bin/zblcli rest-server --node 15.222.103.206:26657

[Install]
WantedBy=multi-user.target