[Unit]
Description=DC Ledger service
After=network.target
StartLimitIntervalSec=0

[Service]
User={{ cosmovisor.user }}
Group={{ cosmovisor.group }}
Type=simple
Restart=always
RestartSec=1
ExecStart={{ dcl_home }}/cosmovisor/cosmovisor_start.sh

StandardOutput=append:/var/log/cosmovisor/cosmovisor.log
StandardError=append:/var/log/cosmovisor/cosmovisor.log

[Install]
WantedBy=multi-user.target
